<article data-page="default">
    <form id="form" class="form" scroll-item>
        {% for q in questions %}
            <fieldset>
                <p for="question-{{ loop.index }}-a">
                    {{ q.question }}
                </p>
                <div class="radio" data-form-radio>
                    <input type="radio" id="question-{{ loop.index }}-a" name="question-{{ loop.index }}" value="a">
                    <label for="question-{{ loop.index }}-a">{{ q.a }}</label>
                    <input type="radio" id="question-{{ loop.index }}-b" name="question-{{ loop.index }}" value="b">
                    <label for="question-{{ loop.index }}-b">{{ q.b }}</label>
                </div>
            </fieldset>
        {% endfor %}
        <button class="button button--full" type="submit">Button</button>
    </form>
    <div id="char-printer" scroll-item></div>
</article>
