<div id="Cookies" class="win-message" aria-expanded='false'>
    <div class="content">
        <p>
          We use cookies to analyse the use of this website. For more information, please see our <a href="/cookie-policy" rel="nofollow">cookie policy</a>
        </p>
    </div>
    <div class="controls">
        <button class="btn-ok" data-ok><span class="text">Accept</span></button>
        <button class="btn-ok" data-cancel><span class="text">Cancel</span></button>
    </div>
</div>
