---
layout: layout/default
title:
htmlClass: html
bodyClass: body-legal
---

<article data-page="legal"  data-palette='black'>
    <section class="block-default" scroll-item>
        <h1 class="title">Cookie policy</h1>
        <p>A cookie is a small file which is placed on your computer's hard drive. The cookie helps analyse web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences.</p>
        <p>We use traffic log cookies to identify which pages are being used. This helps us analyse data about web page traffic and improve our website in order to tailor it to member needs. We only use this information for statistical analysis purposes and then the data is removed from the system.</p>
        <p>Cookies will be used for the following purposes: Research and development; User targeting and Cookies are used to track visitors to our site. This data will be used only by ourselves and our agents.</p>
        <p>Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us.</p>
        <p>You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.</p>
    </section>
</article>
